html, body {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}

.block {
  position: absolute;
  left: 0;
  right: 0;
}
.block-title {
  position: absolute;
  top: 10px;
  height: 20px;
  left: 10px;
  right: 10px;
  font-weight: bold;
}
.block-content {
  position: absolute;
  top: 30px;
  bottom: 5px;
  left: 10px;
  right: 10px;
  background-color: rgb(240,240,240);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(210,210,210);
  overflow: auto;
  padding: 3px;
  margin: 0;
  border-radius: 3px;
}

#description {
  position: absolute;
  top: 10px;
  height: 40px;
  left: 10px;
  right: 10px;
}
#blocks {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
}
#stdout-wrapper {
  top: 0;
  height: 50%;
}
#source-wrapper {
  top: 50%;
  bottom: 0;
}

