<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.debug.core.launchConfigurationTypes">
    <launchConfigurationType
        sourceLocatorId="org.teavm.eclipse.debugger.sourceLookup"
        name="TeaVM remote"
        sourcePathComputerId="org.teavm.eclipse.debugger.sourcePath"
        delegate="org.teavm.eclipse.debugger.TeaVMLaunchConfigurationDelegate"
        modes="debug"
        id="org.teavm.eclipse.debugger.launchConfig">
    </launchConfigurationType>
  </extension>
  <extension point="org.eclipse.debug.core.sourceLocators">
    <sourceLocator
        name="TeaVM Source Lookup Director"
        class="org.teavm.eclipse.debugger.TeaVMSourceLookupDirector"
        id="org.teavm.eclipse.debugger.sourceLookup">
    </sourceLocator>
  </extension>
  <extension point="org.eclipse.debug.core.sourcePathComputers">
    <sourcePathComputer
        class="org.teavm.eclipse.debugger.TeaVMSourcePathComputerDelegate"
        id="org.teavm.eclipse.debugger.sourcePath">
    </sourcePathComputer>
  </extension>
  <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
        type="org.teavm.eclipse.debugger.launchConfig"
        description="Debug TeaVM program"
        class="org.teavm.eclipse.debugger.ui.TeaVMTabGroup"
        id="org.teavm.eclipse.debugger.ui.tabs">
    </launchConfigurationTabGroup>
  </extension>
  <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
        id="org.teavm.eclipse.debugger.ui.launchConfigIcon"
        configTypeID="org.teavm.eclipse.debugger.launchConfig"
        icon="teavm-16.png">
    </launchConfigurationTypeImage>
  </extension>
  <extension point="org.eclipse.debug.ui.debugModelPresentations">
    <debugModelPresentation
        class="org.teavm.eclipse.debugger.ui.TeaVMDebugModelPresentation"
        id="org.teavm.eclipse.debugger">
    </debugModelPresentation>
  </extension>

  <extension point="org.eclipse.core.resources.natures" id="nature" name="TeaVM nature">
    <runtime>
      <run class="org.teavm.eclipse.TeaVMProjectNature"/>
    </runtime>
    <builder id="org.teavm.eclipse.builder"/>
  </extension>
  <extension point="org.eclipse.ui.propertyPages">
    <page id="org.teavm.eclipse.projectProperties" name="TeaVM" class="org.teavm.eclipse.ui.TeaVMProjectPropertyPage">
      <enabledWhen>
        <or>
          <instanceof value="org.eclipse.core.resources.IProject"/>
          <instanceof value="org.eclipse.jdt.core.IJavaProject"/>
        </or>
      </enabledWhen>
    </page>
  </extension>
  <extension point="org.eclipse.core.resources.builders" id="builder" name="TeaVM builder">
    <builder hasNature="true">
      <run class="org.teavm.eclipse.TeaVMProjectBuilder"/>
    </builder>
  </extension>

  <extension id="dependencyMarker" point="org.eclipse.core.resources.markers" name="TeaVM dependency problem">
    <super type="org.eclipse.core.resources.problemmarker"/>
    <persistent value="false"/>
    <attribute name="severity"/>
    <attribute name="message"/>
    <attribute name="lineNumber"/>
   </extension>
</plugin>
