# output dir
build
/build-dir
/build-cache
/deploy-with-env.sh
/release-with-env.sh
.gradle
/relocated
/samples/.gradle
local.properties
teavm-local.properties
.kotlin
node_modules

# KDE
.directory

# Eclipse
.project
.settings
.classpath
.factorypath
.checkstyle
.cache-main
.metadata

# IntelliJ IDEA
*.iml
!/all-deps/all-deps.iml
!/tools/idea/**/*.iml
.idea/*
!.idea/runConfigurations
!.idea/scopes
!.idea/inspectionProfies
!.idea/codeStyles
!.idea/copyright

