<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="TeaVM" sequenceNumber="13">
<locations>
<location path="${eclipse_home}" type="Profile"/>
<location path="${workspace_loc:/teavm-eclipse-repository}/target/repository" type="Directory"/>
</locations>
<environment>
<os>linux</os>
<ws>gtk</ws>
<arch>x86_64</arch>
<nl>ru_RU</nl>
</environment>
</target>
