<!--
  ~  Copyright 2017 Alexey Andreev.
  ~
  ~  Licensed under the Apache License, Version 2.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~  You may obtain a copy of the License at
  ~
  ~       http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~  Unless required by applicable law or agreed to in writing, software
  ~  distributed under the License is distributed on an "AS IS" BASIS,
  ~  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  See the License for the specific language governing permissions and
  ~  limitations under the License.
  -->

<assembly xmlns="http://maven.apache.org/ASSEMBLY/2.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/ASSEMBLY/2.0.0 http://maven.apache.org/xsd/assembly-2.0.0.xsd">
  <id>idea-plugin</id>

  <formats>
    <format>zip</format>
  </formats>

  <dependencySets>
    <dependencySet>
      <outputDirectory>lib</outputDirectory>
      <includes>
        <include>org.teavm.idea:teavm:*</include>
      </includes>
      <outputFileNameMapping>teavm.jar</outputFileNameMapping>
    </dependencySet>
    <dependencySet>
      <outputDirectory>lib</outputDirectory>
      <includes>
        <include>org.teavm:teavm-jps-common</include>
      </includes>
      <outputFileNameMapping>teavm-jps-common.jar</outputFileNameMapping>
    </dependencySet>
    <dependencySet>
      <outputDirectory>lib/jps</outputDirectory>
      <includes>
        <include>org.teavm:teavm-jps-plugin</include>
      </includes>
      <outputFileNameMapping>teavm-jps-plugin.jar</outputFileNameMapping>
    </dependencySet>
  </dependencySets>

  <files>
    <file>
      <outputDirectory>lib</outputDirectory>
      <source>target/${project.artifactId}-${project.version}.jar</source>
      <destName>teavm-plugin.jar</destName>
    </file>
  </files>
</assembly>